In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import joblib
import sys


df = pd.read_excel("planilhas/dados.xlsx")
total_linhas = len(df)

In [14]:

display(df)

# Função para remover caracteres não numéricos
def convert(coluna):
    return pd.to_numeric(coluna, errors='coerce')


# Usar a função para converter a coluna específica
df['saeb_Mat_2019'] = convert(df['saeb_Mat_2019'])
df['saeb_Port_2019'] = convert(df['saeb_Port_2019'])

df['saeb_Mat_2023'] = convert(df['saeb_Mat_2023'])
df['saeb_Port_2023'] = convert(df['saeb_Port_2023'])

display(df)

,uf,codigo,municipio,cod.escola,escola,rede,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,RO,1100015,Alta Floresta D'Oeste,11024682,EEEFM EURIDICE LOPES PEDROSO,Estadual,NaN,NaN,NaN,NaN,...,3.899135,254.41,253.38,4.055802,NaN,NaN,3.6,4.0,NaN,NaN
1,RO,1100015,Alta Floresta D'Oeste,11024968,EEEMTI JUSCELINO KUBITSCHEK DE OLIVEIRA,Estadual,96.1,96.2,95.1,96.4,...,5.409930,306.56,300.31,5.490791,5.0,5.5,5.4,5.4,5.2,5.4
2,RO,1100015,Alta Floresta D'Oeste,11025638,COLEGIO TIRADENTES DA POLICIA MILITAR - CTPM XI,Estadual,85.1,80.2,89.0,87.8,...,NaN,285.14,288.04,5.006266,3.4,4.1,NaN,4.9,3.6,3.8
3,RO,1100023,Ariquemes,11006773,EEEFM CORA CORALINA,Estadual,NaN,NaN,NaN,NaN,...,4.469767,256.07,254.76,4.099775,NaN,NaN,2.8,2.4,NaN,NaN
4,RO,1100023,Ariquemes,11006889,EEEFM ANISIO TEIXEIRA,Estadual,70.2,62.8,68.8,86.3,...,NaN,264.11,261.11,4.307757,3.1,NaN,NaN,3.8,3.3,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21573,DF,5300108,Brasília,53056000,COL OLIMPO,Privada,98.2,96.2,98.3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21574,DF,5300108,Brasília,53068068,CED DONA AMERICA GUIMARAES,Estadual,77.8,77.1,73.5,87.1,...,NaN,246.86,237.18,3.707248,3.4,3.8,NaN,3.4,3.6,3.8
21575,DF,5300108,Brasília,53068092,CED 01 DO RIACHO FUNDO II,Estadual,65.7,50.0,70.6,87.7,...,4.034805,NaN,NaN,NaN,NaN,4.0,3.1,NaN,NaN,4.2
21576,DF,5300108,Brasília,53068181,CED 310 DE SANTA MARIA,Estadual,76.8,69.5,84.6,79.0,...,NaN,260.74,258.48,4.221054,NaN,NaN,NaN,3.2,NaN,NaN
21577,DF,5300108,Brasília,53082001,COL COC BRAZLANDIA DF,Privada,90.5,88.6,100.0,85.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,uf,codigo,municipio,cod.escola,escola,rede,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,RO,1100015,Alta Floresta D'Oeste,11024682,EEEFM EURIDICE LOPES PEDROSO,Estadual,NaN,NaN,NaN,NaN,...,3.899135,254.41,253.38,4.055802,NaN,NaN,3.6,4.0,NaN,NaN
1,RO,1100015,Alta Floresta D'Oeste,11024968,EEEMTI JUSCELINO KUBITSCHEK DE OLIVEIRA,Estadual,96.1,96.2,95.1,96.4,...,5.409930,306.56,300.31,5.490791,5.0,5.5,5.4,5.4,5.2,5.4
2,RO,1100015,Alta Floresta D'Oeste,11025638,COLEGIO TIRADENTES DA POLICIA MILITAR - CTPM XI,Estadual,85.1,80.2,89.0,87.8,...,NaN,285.14,288.04,5.006266,3.4,4.1,NaN,4.9,3.6,3.8
3,RO,1100023,Ariquemes,11006773,EEEFM CORA CORALINA,Estadual,NaN,NaN,NaN,NaN,...,4.469767,256.07,254.76,4.099775,NaN,NaN,2.8,2.4,NaN,NaN
4,RO,1100023,Ariquemes,11006889,EEEFM ANISIO TEIXEIRA,Estadual,70.2,62.8,68.8,86.3,...,NaN,264.11,261.11,4.307757,3.1,NaN,NaN,3.8,3.3,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21573,DF,5300108,Brasília,53056000,COL OLIMPO,Privada,98.2,96.2,98.3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21574,DF,5300108,Brasília,53068068,CED DONA AMERICA GUIMARAES,Estadual,77.8,77.1,73.5,87.1,...,NaN,246.86,237.18,3.707248,3.4,3.8,NaN,3.4,3.6,3.8
21575,DF,5300108,Brasília,53068092,CED 01 DO RIACHO FUNDO II,Estadual,65.7,50.0,70.6,87.7,...,4.034805,NaN,NaN,NaN,NaN,4.0,3.1,NaN,NaN,4.2
21576,DF,5300108,Brasília,53068181,CED 310 DE SANTA MARIA,Estadual,76.8,69.5,84.6,79.0,...,NaN,260.74,258.48,4.221054,NaN,NaN,NaN,3.2,NaN,NaN
21577,DF,5300108,Brasília,53082001,COL COC BRAZLANDIA DF,Privada,90.5,88.6,100.0,85.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
with open('colunas.txt', 'w', encoding='utf-8') as f:
    sys.stdout = f
    df.info()

    f.write("\n\n")
    sys.stdout = sys.__stdout__

    for i, coluna in enumerate(df.columns):
        non_null_count = df[coluna].notnull().sum()  
        null_percentage = (non_null_count / total_linhas) * 100  
        dtype = str(df[coluna].dtype) 
        
        f.write(f"{i: <4} {coluna: <33} {non_null_count: <16} {dtype: <10}\n")
        
        f.write(f"     -> {null_percentage:.2f}% de dados não nulos.\n")

    # Escrever o total de linhas
    f.write(f"\nTotal de linhas no DataFrame: {total_linhas}\n")

In [16]:
dfEstados = (df.groupby('uf').mean(numeric_only=True).reset_index())

display(dfEstados)
dfEstados = dfEstados.drop(columns=['codigo', 'cod.escola'])

display(dfEstados)

dfEstados.to_csv("planilhas/estadosMedia.csv", index=False, sep=";", encoding="UTF-8", float_format='%.3f')

,uf,codigo,cod.escola,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,AC,1.200373e+06,1.201886e+07,87.491111,82.217045,88.809091,93.383333,95.750000,0.878149,85.212644,...,4.739328,263.566393,266.257705,4.377183,3.985106,3.943902,4.572727,3.954098,4.204255,4.326154
1,AL,2.704764e+06,2.705677e+07,85.790909,80.807950,87.305000,91.769295,89.610000,0.862170,87.848052,...,4.104776,258.430268,259.377589,4.202051,3.661875,3.763547,3.823881,3.987500,3.872500,4.041350
2,AM,1.302394e+06,1.309181e+07,85.349624,81.674300,84.934010,90.172180,NaN,0.851662,84.053824,...,3.967176,252.807391,255.730725,4.068484,3.585484,3.592308,3.772727,3.711232,3.789785,3.929237
3,AP,1.600380e+06,1.600500e+07,76.462617,69.628302,79.253774,84.307477,91.580000,0.765075,77.491860,...,NaN,250.411905,258.657381,4.078652,3.589286,3.265625,NaN,3.661905,3.796429,3.728302
4,BA,2.918755e+06,2.926302e+07,74.633771,65.842619,77.621353,84.857793,80.130000,0.745389,78.888931,...,4.378789,252.923665,256.474551,4.081252,3.278391,3.477244,4.030137,3.771956,3.506667,3.674711
5,CE,2.306422e+06,2.316367e+07,89.367540,85.477875,89.774891,94.541776,100.000000,0.896036,92.851908,...,4.658804,274.245617,276.732868,4.683986,4.073171,4.428076,4.578694,4.565825,4.280793,4.498540
6,DF,5.300108e+06,5.301119e+07,83.549618,77.598473,86.490840,90.042748,NaN,0.839019,82.801010,...,4.758932,270.115800,275.822400,4.612353,5.141176,4.175556,4.260870,4.112000,5.335294,4.904110
7,ES,3.203088e+06,3.204274e+07,87.476991,80.763664,89.119288,95.829794,94.088235,0.878218,90.079787,...,5.072980,282.890221,283.565147,4.907679,4.565678,4.684649,4.808434,4.740809,4.774576,4.921886
8,GO,5.210425e+06,5.204863e+07,92.998667,90.497064,92.705185,96.100000,90.150000,0.929992,93.183844,...,4.620805,279.803650,282.744228,4.852039,4.367925,4.659420,4.510708,4.787601,4.577736,4.776176
9,MA,2.107003e+06,2.118559e+07,86.603295,82.760153,87.437405,91.120786,NaN,0.866592,90.800132,...,3.883918,248.865626,251.401333,3.948311,3.457028,3.559720,3.591943,3.677561,3.669277,3.788919
10,MG,3.135697e+06,3.112193e+07,81.435129,74.111661,84.584554,89.781871,82.588317,0.817826,84.805002,...,4.550772,270.363223,272.690787,4.568948,4.024819,4.090636,4.324766,4.121620,4.240639,4.336450
11,MS,5.004124e+06,5.001599e+07,81.232468,77.113029,83.315686,86.768831,75.300000,0.817669,82.538078,...,4.596146,272.243305,277.997966,4.674802,4.395556,4.304651,4.280000,4.356780,4.602222,4.644595
12,MT,5.105216e+06,5.105310e+07,75.044963,66.093548,79.504198,87.775616,98.300000,0.759478,73.583827,...,4.881682,261.453775,265.254073,4.332487,3.800000,3.724348,4.707692,4.197682,4.034815,4.127536
13,PA,1.503553e+06,1.517475e+07,75.757166,70.118350,78.624708,80.718843,93.414286,0.759887,77.447421,...,4.222015,255.537546,260.712187,4.181402,3.472951,3.233083,3.491892,4.125876,3.692623,3.575227
14,PB,2.508135e+06,2.507180e+07,79.080292,71.605610,81.534390,89.060827,90.615385,0.794304,82.590284,...,4.375613,265.971729,271.526649,4.489842,3.527500,3.861667,4.296512,3.990426,3.747000,3.985143
15,PE,2.608570e+06,2.610274e+07,92.915148,89.896863,93.429922,97.065597,95.834426,0.933007,93.747185,...,4.689648,275.384555,277.222312,4.707309,4.218028,4.472984,4.456076,4.504378,4.427427,4.609209
16,PI,2.207032e+06,2.208322e+07,82.816505,76.399803,83.826471,90.395146,97.163636,0.824686,83.728980,...,4.291783,265.636395,264.882109,4.385664,3.711986,3.709358,4.119858,4.256236,3.934589,4.004260
17,PR,4.113101e+06,4.112802e+07,81.330211,75.334941,80.720040,88.578218,95.283636,0.811297,88.802367,...,4.740922,278.457478,284.131243,4.853896,4.080751,4.414159,4.585791,4.701974,4.292488,4.532425
18,RJ,3.303406e+06,3.307197e+07,80.936775,73.933046,81.648034,90.758497,95.260000,0.810445,80.530470,...,4.311526,259.940871,267.211812,4.340546,3.741235,3.906992,4.089524,3.789721,3.957095,4.126838
19,RN,2.407235e+06,2.405733e+07,75.624540,68.605846,78.634462,83.824233,92.515000,0.759641,76.094788,...,4.793032,260.545000,266.766928,4.342371,4.129412,3.631395,4.100000,3.621084,4.333824,4.187500
20,RO,1.100331e+06,1.102571e+07,87.489362,82.637097,89.373404,93.884574,89.000000,0.880071,87.194969,...,4.481348,264.818431,267.732288,4.416843,4.181553,4.279245,4.255814,4.120915,4.392233,4.527333
21,RR,1.400237e+06,1.405011e+07,83.234783,76.123529,85.707246,91.843478,94.000000,0.836792,83.562338,...,4.711749,246.500357,241.405357,3.765451,3.688889,3.270000,4.650000,3.450000,3.892593,3.789796
22,RS,4.312236e+06,4.310253e+07,74.820833,66.951603,74.942759,87.489050,90.566316,0.750272,79.071124,...,5.071949,282.752011,286.861218,4.955080,4.102577,4.378304,4.747297,4.270480,4.322938,4.462807
23,SC,4.209107e+06,4.205801e+07,83.202733,78.374152,86.952181,86.236495,90.153333,0.833675,81.855429,...,5.013401,278.514510,278.495245,4.770325,4.239884,4.315766,4.448780,4.196569,4.445087,4.557530
24,SE,2.803228e+06,2.801942e+07,78.144330,69.979897,81.138660,88.949223,NaN,0.791780,79.853488,...,4.152996,257.638062,260.862188,4.213149,3.693814,3.526316,4.010937,3.843750,3.926804,3.965806
25,SP,3.532418e+06,3.525837e+07,88.771159,84.668727,88.700240,93.988315,95.420000,0.887071,92.114603,...,4.776480,270.754777,279.746136,4.680066,4.402849,4.536645,4.619893,4.432405,4.610430,4.713392
26,TO,1.711747e+06,1.702527e+07,86.950709,81.250903,88.168327,93.843617,97.671429,0.871633,89.159149,...,4.120171,258.959959,260.073802,4.219913,3.835556,3.932847,4.023810,4.038843,4.044444,4.244889

,uf,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,AC,87.491111,82.217045,88.809091,93.383333,95.750000,0.878149,85.212644,80.095294,86.343529,...,4.739328,263.566393,266.257705,4.377183,3.985106,3.943902,4.572727,3.954098,4.204255,4.326154
1,AL,85.790909,80.807950,87.305000,91.769295,89.610000,0.862170,87.848052,83.153275,88.664935,...,4.104776,258.430268,259.377589,4.202051,3.661875,3.763547,3.823881,3.987500,3.872500,4.041350
2,AM,85.349624,81.674300,84.934010,90.172180,NaN,0.851662,84.053824,81.189714,83.501709,...,3.967176,252.807391,255.730725,4.068484,3.585484,3.592308,3.772727,3.711232,3.789785,3.929237
3,AP,76.462617,69.628302,79.253774,84.307477,91.580000,0.765075,77.491860,71.414118,79.009412,...,NaN,250.411905,258.657381,4.078652,3.589286,3.265625,NaN,3.661905,3.796429,3.728302
4,BA,74.633771,65.842619,77.621353,84.857793,80.130000,0.745389,78.888931,71.333495,81.260766,...,4.378789,252.923665,256.474551,4.081252,3.278391,3.477244,4.030137,3.771956,3.506667,3.674711
5,CE,89.367540,85.477875,89.774891,94.541776,100.000000,0.896036,92.851908,89.722137,92.988702,...,4.658804,274.245617,276.732868,4.683986,4.073171,4.428076,4.578694,4.565825,4.280793,4.498540
6,DF,83.549618,77.598473,86.490840,90.042748,NaN,0.839019,82.801010,76.534343,85.394949,...,4.758932,270.115800,275.822400,4.612353,5.141176,4.175556,4.260870,4.112000,5.335294,4.904110
7,ES,87.476991,80.763664,89.119288,95.829794,94.088235,0.878218,90.079787,85.616429,91.244444,...,5.072980,282.890221,283.565147,4.907679,4.565678,4.684649,4.808434,4.740809,4.774576,4.921886
8,GO,92.998667,90.497064,92.705185,96.100000,90.150000,0.929992,93.183844,90.372184,93.942662,...,4.620805,279.803650,282.744228,4.852039,4.367925,4.659420,4.510708,4.787601,4.577736,4.776176
9,MA,86.603295,82.760153,87.437405,91.120786,NaN,0.866592,90.800132,89.078273,90.483155,...,3.883918,248.865626,251.401333,3.948311,3.457028,3.559720,3.591943,3.677561,3.669277,3.788919
10,MG,81.435129,74.111661,84.584554,89.781871,82.588317,0.817826,84.805002,77.919603,87.482564,...,4.550772,270.363223,272.690787,4.568948,4.024819,4.090636,4.324766,4.121620,4.240639,4.336450
11,MS,81.232468,77.113029,83.315686,86.768831,75.300000,0.817669,82.538078,78.222500,83.668683,...,4.596146,272.243305,277.997966,4.674802,4.395556,4.304651,4.280000,4.356780,4.602222,4.644595
12,MT,75.044963,66.093548,79.504198,87.775616,98.300000,0.759478,73.583827,66.071159,76.816260,...,4.881682,261.453775,265.254073,4.332487,3.800000,3.724348,4.707692,4.197682,4.034815,4.127536
13,PA,75.757166,70.118350,78.624708,80.718843,93.414286,0.759887,77.447421,71.620946,79.481438,...,4.222015,255.537546,260.712187,4.181402,3.472951,3.233083,3.491892,4.125876,3.692623,3.575227
14,PB,79.080292,71.605610,81.534390,89.060827,90.615385,0.794304,82.590284,74.704502,84.930404,...,4.375613,265.971729,271.526649,4.489842,3.527500,3.861667,4.296512,3.990426,3.747000,3.985143
15,PE,92.915148,89.896863,93.429922,97.065597,95.834426,0.933007,93.747185,91.723370,93.919621,...,4.689648,275.384555,277.222312,4.707309,4.218028,4.472984,4.456076,4.504378,4.427427,4.609209
16,PI,82.816505,76.399803,83.826471,90.395146,97.163636,0.824686,83.728980,76.342387,85.657260,...,4.291783,265.636395,264.882109,4.385664,3.711986,3.709358,4.119858,4.256236,3.934589,4.004260
17,PR,81.330211,75.334941,80.720040,88.578218,95.283636,0.811297,88.802367,84.858472,89.493741,...,4.740922,278.457478,284.131243,4.853896,4.080751,4.414159,4.585791,4.701974,4.292488,4.532425
18,RJ,80.936775,73.933046,81.648034,90.758497,95.260000,0.810445,80.530470,73.563348,81.801991,...,4.311526,259.940871,267.211812,4.340546,3.741235,3.906992,4.089524,3.789721,3.957095,4.126838
19,RN,75.624540,68.605846,78.634462,83.824233,92.515000,0.759641,76.094788,68.704262,78.641176,...,4.793032,260.545000,266.766928,4.342371,4.129412,3.631395,4.100000,3.621084,4.333824,4.187500
20,RO,87.489362,82.637097,89.373404,93.884574,89.000000,0.880071,87.194969,83.015823,88.770440,...,4.481348,264.818431,267.732288,4.416843,4.181553,4.279245,4.255814,4.120915,4.392233,4.527333
21,RR,83.234783,76.123529,85.707246,91.843478,94.000000,0.836792,83.562338,78.923684,85.800000,...,4.711749,246.500357,241.405357,3.765451,3.688889,3.270000,4.650000,3.450000,3.892593,3.789796
22,RS,74.820833,66.951603,74.942759,87.489050,90.566316,0.750272,79.071124,70.441764,82.724442,...,5.071949,282.752011,286.861218,4.955080,4.102577,4.378304,4.747297,4.270480,4.322938,4.462807
23,SC,83.202733,78.374152,86.952181,86.236495,90.153333,0.833675,81.855429,75.449065,83.334670,...,5.013401,278.514510,278.495245,4.770325,4.239884,4.315766,4.448780,4.196569,4.445087,4.557530
24,SE,78.144330,69.979897,81.138660,88.949223,NaN,0.791780,79.853488,72.311696,81.249419,...,4.152996,257.638062,260.862188,4.213149,3.693814,3.526316,4.010937,3.843750,3.926804,3.965806
25,SP,88.771159,84.668727,88.700240,93.988315,95.420000,0.887071,92.114603,89.313636,91.029151,...,4.776480,270.754777,279.746136,4.680066,4.402849,4.536645,4.619893,4.432405,4.610430,4.713392
26,TO,86.950709,81.250903,88.168327,93.843617,97.671429,0.871633,89.159149,84.076190,90.493506,...,4.120171,258.959959,260.073802,4.219913,3.835556,3.932847,4.023810,4.038843,4.044444,4.244889

In [17]:
## TESTAR NUMERO

coluna = 'TXApro_3aSERIE_2017'
estado = 'RR'
dfTeste = df.loc[(df['uf']) == estado]
dfTeste[coluna].mean()

91.84347826086956

# CIDADES PARANÁ

In [18]:
dfParana = df.loc[(df['uf']) == "PR"]

dfParana = (df.groupby('municipio').mean(numeric_only=True).reset_index())

dfParana = dfParana.drop(columns=['codigo', 'cod.escola'])
display(dfParana)


dfParana.to_csv("planilhas/cidadesPR.csv", index=False, sep=";", encoding="UTF-8", float_format='%.3f')

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Abadia de Goiás,93.40000,93.50000,94.40,91.70,NaN,0.931864,97.800,97.600000,95.700,...,NaN,273.320000,285.580000,4.803428,4.00,4.600000,NaN,4.800000,4.20,4.400000
1,Abadia dos Dourados,89.50000,71.60000,95.40,100.00,NaN,0.870861,90.100,82.100000,95.500,...,4.840216,266.130000,286.530000,4.716666,4.40,NaN,4.7,4.400000,4.60,4.800000
2,Abadiânia,95.15000,96.50000,98.00,91.15,NaN,0.951009,93.900,94.300000,95.500,...,4.199450,272.330000,275.340000,4.636230,4.70,NaN,4.2,4.600000,4.90,5.100000
3,Abaetetuba,77.36875,71.44375,86.34,87.14,NaN,0.825605,84.465,79.978947,84.765,...,NaN,248.755263,247.424737,3.887231,3.08,3.263636,NaN,3.836842,3.28,3.358333
4,Abaeté,72.90000,61.60000,73.80,87.00,94.4,0.771138,71.800,62.000000,74.000,...,NaN,286.410000,289.860000,5.051348,4.30,3.900000,NaN,4.000000,4.50,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5283,Áurea,99.10000,100.00000,100.00,97.70,NaN,0.992214,98.100,100.000000,97.300,...,NaN,286.760000,290.830000,5.070785,NaN,4.500000,NaN,4.900000,NaN,4.700000
5284,Ângulo,86.20000,86.50000,78.80,95.80,NaN,0.864816,94.100,96.600000,92.600,...,4.453839,NaN,NaN,NaN,NaN,4.300000,4.2,NaN,NaN,4.600000
5285,Érico Cardoso,85.30000,82.60000,84.30,89.80,NaN,0.854584,90.400,89.300000,91.800,...,3.951500,267.300000,269.190000,4.473518,3.10,3.400000,3.7,4.300000,3.30,3.600000
5286,Óbidos,68.75000,57.05000,66.10,89.65,NaN,0.683426,71.800,59.350000,74.450,...,NaN,257.780000,262.547500,4.240372,2.30,2.650000,NaN,4.150000,2.60,2.900000
5287,Óleo,92.30000,90.70000,92.70,93.90,NaN,0.924144,99.000,100.000000,96.400,...,5.036015,271.600000,263.230000,4.444690,3.90,4.800000,4.7,4.400000,4.10,4.400000

# MESO

In [19]:
display(len(dfParana['municipio']))

municipiosNoroesteParanaense = joblib.load('regioesIBGE/municipiosNoroesteParanaense.pkl')
municipiosCentroOcidentalParanaense = joblib.load('regioesIBGE/municipiosCentroOcidentalParanaense.pkl')
municipiosNorteCentralParanaense = joblib.load('regioesIBGE/municipiosNorteCentralParanaense.pkl')
municipiosNortePioneiroParanaense = joblib.load('regioesIBGE/municipiosNortePioneiroParanaense.pkl')
municipiosCentroOrientalParanaense = joblib.load('regioesIBGE/municipiosCentroOrientalParanaensee.pkl')
municipiosOesteParanaense = joblib.load('regioesIBGE/municipiosOesteParanaense.pkl')
municipiosSudoesteParanaense = joblib.load('regioesIBGE/municipiosSudoesteParanaense.pkl')
municipiosCentroSulParanaense = joblib.load('regioesIBGE/municipiosCentroSulParanaense.pkl')
municipiosSudesteParanaense = joblib.load('regioesIBGE/municipiosSudesteParanaense.pkl')
municipiosMetropolitanae = joblib.load('regioesIBGE/municipiosMetropolitanae.pkl')


dfNoroesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNoroesteParanaense)]
dfCentroOcidentalParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroOcidentalParanaense)]
dfNorteCentralParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNorteCentralParanaense)]
dfNortePioneiroParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNortePioneiroParanaense)]
dfCentroOrientalParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroOrientalParanaense)]
dfOesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosOesteParanaense)]
dfSudoesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosSudoesteParanaense)]
dfCentroSulParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroSulParanaense)]
dfOSudesteParanaens = dfParana.loc[dfParana['municipio'].isin(municipiosSudesteParanaense)]
dfMetropolitana = dfParana.loc[dfParana['municipio'].isin(municipiosMetropolitanae)]


display(dfOesteParanaense)

5288

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
171,Anahy,86.800000,75.600000,97.000000,90.000000,NaN,0.865853,91.800000,87.500000,92.700000,...,4.575806,273.250000,271.020000,4.584481,3.900000,4.300000,4.500000,4.500000,4.100000,4.300000
363,Assis Chateaubriand,80.183333,73.966667,81.816667,87.350000,91.050000,0.804884,92.233333,87.966667,95.033333,...,5.093241,276.397500,286.512500,4.860611,NaN,4.340000,4.400000,4.825000,NaN,4.560000
581,Boa Vista da Aparecida,77.200000,72.400000,77.200000,85.100000,NaN,0.778889,91.100000,91.100000,88.900000,...,4.510919,273.000000,280.960000,4.729772,NaN,NaN,4.500000,4.600000,NaN,NaN
663,Braganey,91.400000,89.400000,89.033333,95.500000,100.000000,0.919676,93.500000,86.200000,97.300000,...,4.789369,281.450000,287.950000,4.953092,4.250000,4.500000,4.800000,4.700000,4.450000,4.666667
787,Cafelândia,83.533333,78.933333,77.400000,92.833333,NaN,0.820163,91.220000,89.280000,89.100000,...,5.007229,279.460000,285.873333,4.894055,4.000000,4.400000,4.800000,4.733333,4.233333,4.575000
871,Campo Bonito,74.500000,65.500000,70.900000,83.800000,NaN,0.726309,93.000000,91.000000,95.200000,...,4.824283,284.000000,287.270000,4.978727,NaN,NaN,4.700000,4.900000,NaN,NaN
962,Capitão Leônidas Marques,91.100000,90.150000,90.775000,92.750000,NaN,0.910370,94.633333,95.433333,92.000000,...,4.851110,272.735000,273.870000,4.619912,4.600000,4.300000,4.833333,4.550000,4.800000,4.433333
1050,Cascavel,82.546667,78.913333,79.435556,88.866667,94.816667,0.821921,87.771429,84.928571,87.857143,...,4.912947,277.141628,284.265581,4.837426,4.209091,4.747619,4.812000,4.700000,4.427273,4.773913
1069,Catanduvas,76.866667,69.133333,73.700000,88.366667,NaN,0.758838,84.933333,79.966667,84.400000,...,4.449768,268.690000,273.170000,4.552621,3.500000,4.233333,4.450000,4.600000,3.800000,4.333333
1259,Corbélia,80.200000,77.000000,70.500000,94.633333,100.000000,0.802372,88.866667,88.866667,90.166667,...,NaN,279.720000,288.795000,4.941444,NaN,NaN,NaN,4.850000,NaN,NaN
1408,Céu Azul,86.000000,77.050000,80.800000,97.850000,NaN,0.853950,84.800000,72.900000,88.300000,...,5.251923,270.780000,275.670000,4.619401,4.000000,4.300000,5.100000,4.100000,4.200000,4.450000
1441,Diamante D'Oeste,77.500000,75.900000,86.100000,72.200000,NaN,0.776397,78.100000,71.600000,75.400000,...,5.315222,269.210000,272.030000,4.542859,NaN,4.100000,4.800000,4.500000,NaN,4.300000
1443,Diamante do Sul,87.850000,83.350000,92.550000,88.600000,NaN,0.874697,96.000000,91.250000,98.700000,...,4.595829,267.440000,274.340000,4.552580,4.300000,4.450000,4.300000,4.400000,4.500000,4.650000
1559,Entre Rios do Oeste,88.300000,83.700000,90.000000,92.300000,NaN,0.885144,96.000000,91.200000,97.100000,...,5.629657,311.720000,294.100000,5.470299,NaN,5.200000,5.600000,5.300000,NaN,5.400000
1697,Formosa do Oeste,71.000000,52.500000,80.400000,87.000000,91.700000,0.742324,89.500000,83.800000,90.600000,...,5.160175,275.410000,278.310000,4.723950,NaN,4.600000,4.900000,4.700000,NaN,4.800000
1712,Foz do Iguaçu,76.906452,69.177419,77.261290,85.345161,91.750000,0.765757,83.882759,78.200000,85.235714,...,4.757993,280.895385,289.145769,4.963204,4.200000,4.220000,4.445000,4.726923,4.420000,4.420000
1880,Guaraniaçu,85.000000,79.500000,78.500000,94.500000,96.200000,0.864034,92.100000,88.100000,92.000000,...,4.744015,280.140000,280.100000,4.817179,NaN,NaN,4.750000,4.800000,NaN,NaN
1910,Guaíra,84.825000,80.250000,85.800000,89.687500,100.000000,0.857847,96.175000,94.912500,96.037500,...,4.703493,274.483750,279.892500,4.734630,3.650000,4.833333,4.550000,4.600000,3.900000,4.666667
1956,Ibema,86.700000,72.300000,91.500000,96.700000,NaN,0.854665,98.100000,98.400000,97.200000,...,4.895077,280.700000,274.540000,4.741810,4.100000,NaN,4.800000,4.700000,4.300000,4.500000
2029,Iguatu,88.836364,86.036364,89.236364,92.027273,NaN,0.888809,95.233333,93.711111,95.922222,...,4.868455,277.730000,283.391250,4.832600,4.366667,4.975000,4.814286,4.775000,4.611111,4.860000
2121,Iracema do Oeste,73.300000,64.300000,84.000000,78.300000,NaN,0.745745,95.400000,95.200000,93.800000,...,NaN,279.510000,269.100000,4.643660,NaN,4.700000,NaN,4.400000,NaN,4.900000
2177,Itaipulândia,63.000000,53.050000,57.800000,82.250000,NaN,0.619830,78.500000,67.700000,84.300000,...,5.224767,301.520000,306.180000,5.507879,NaN,4.700000,4.600000,5.300000,NaN,4.900000
2425,Jesuítas,84.300000,75.050000,86.600000,93.400000,NaN,0.841793,96.450000,92.750000,97.150000,...,4.496060,281.475000,288.085000,4.955464,3.850000,4.150000,4.400000,4.950000,4.100000,4.300000
2619,Lindoeste,83.000000,87.500000,71.650000,90.200000,NaN,0.818602,87.700000,87.000000,92.600000,...,4.474709,266.320000,255.575000,4.255937,NaN,4.600000,4.300000,4.100000,NaN,4.800000
2778,Marechal Cândido Rondon,86.125000,78.387500,88.300000,93.387500,100.000000,0.863612,91.314286,90.314286,88.785714,...,5.099465,289.266667,290.848333,5.106265,5.800000,4.850000,5.042857,5.033333,5.966667,5.450000
2800,Maripá,99.000000,97.900000,98.600000,100.000000,NaN,0.988179,96.200000,92.900000,97.700000,...,5.411983,309.030000,292.710000,5.411709,5.700000,5.800000,5.400000,5.400000,5.850000,6.050000
2831,Matelândia,90.000000,87.366667,90.100000,92.700000,100.000000,0.909283,89.650000,87.050000,88.500000,...,4.742256,284.675000,287.795000,4.996067,NaN,4.200000,4.600000,4.750000,NaN,4.400000
2871,Medianeira,82.733333,80.000000,76.683333,89.283333,92.700000,0.817601,90.483333,87.400000,88.566667,...,5.106044,288.353333,285.993333,5.020758,5.700000,5.200000,4.633333,4.850000,5.900000,5.350000
2879,Mercedes,75.200000,58.900000,93.900000,83.800000,NaN,0.758328,94.600000,91.100000,95.300000,...,5.248826,299.960000,315.880000,5.631178,NaN,5.700000,5.000000,5.400000,NaN,5.900000
2932,Missal,83.600000,80.450000,78.000000,89.300000,100.000000,0.839179,93.050000,88.250000,93.050000,...,4.807429,286.320000,285.130000,4.979275,NaN,4.950000,4.450000,4.700000,NaN,5.150000
3119,Nova Aurora,93.850000,84.400000,93.850000,96.200000,NaN,0.940227,97.233333,96.100000,95.800000,...,4.728687,269.690000,277.363333,4.629441,4.300000,4.733333,4.575000,4.666667,4.500000,4.925000
3195,Nova Santa Rosa,92.200000,89.700000,91.700000,95.900000,NaN,0.923619,92.800000,93.200000,84.100000,...,4.997450,285.850000,282.480000,4.933004,4.600000,4.500000,4.900000,4.800000,4.800000,5.000000
3300,Ouro Verde do Oeste,89.100000,84.900000,89.200000,93.000000,NaN,0.889099,91.700000,88.200000,90.900000,...,4.792272,274.390000,282.170000,4.767408,NaN,NaN,4.800000,4.700000,NaN,NaN
3358,Palotina,85.440000,83.740000,82.240000,90.120000,83.300000,0.857798,89.320000,82.140000,93.440000,...,5.329121,282.604000,290.342000,5.005108,4.450000,4.920000,5.300000,4.940000,4.700000,4.840000
3445,Pato Bragado,87.500000,88.100000,86.700000,87.500000,NaN,0.874296,84.100000,80.600000,81.800000,...,5.166269,308.710000,296.090000,5.457814,NaN,4.400000,5.100000,5.200000,NaN,4.600000
3845,Quatro Pontes,90.300000,82.100000,91.700000,100.000000,NaN,0.906745,96.200000,94.900000,95.500000,...,5.470434,267.460000,275.710000,4.573370,5.000000,5.100000,5.400000,4.600000,5.200000,5.400000
3878,Ramilândia,78.400000,72.900000,73.700000,91.300000,NaN,0.784543,84.500000,80.600000,90.000000,...,NaN,274.340000,274.270000,4.648442,NaN,4.400000,NaN,4.500000,NaN,4.600000
4159,Santa Helena,82.622222,76.033333,84.644444,89.555556,95.800000,0.831357,85.872727,80.600000,86.718182,...,4.755267,271.473636,277.607273,4.658144,3.533333,3.963636,4.237500,4.372727,3.733333,4.136364
4177,Santa Lúcia,88.800000,75.450000,92.600000,99.350000,NaN,0.874866,92.400000,88.950000,91.750000,...,4.325111,266.045000,269.840000,4.465623,3.100000,4.200000,4.100000,4.250000,3.300000,3.500000
4229,Santa Tereza do Oeste,66.050000,50.100000,71.650000,81.950000,NaN,0.646971,76.600000,68.000000,77.700000,...,4.680902,266.386667,272.840000,4.515331,NaN,NaN,4.600000,4.433333,NaN,NaN
4233,Santa Terezinha de Itaipu,78.650000,63.700000,82.500000,87.250000,100.000000,0.776403,87.475000,82.100000,93.000000,...,4.998644,283.275000,294.367500,5.074794,3.450000,NaN,4.800000,4.950000,3.650000,3.900000
4413,Serranópolis do Iguaçu,90.450000,88.750000,85.300000,100.000000,NaN,0.904832,98.000000,93.850000,100.000000,...,5.091632,303.745000,293.770000,5.353350,5.400000,5.400000,4.800000,5.350000,5.600000,5.500000
4599,São José das Palmeiras,76.600000,67.300000,66.700000,93.500000,NaN,0.739891,95.500000,88.200000,100.000000,...,4.972157,289.700000,283.090000,4.996209,NaN,4.500000,4.900000,5.000000,NaN,4.800000
4736,São Miguel do Iguaçu,81.000000,69.900000,84.325000,88.125000,NaN,0.796531,87.200000,82.333333,87.766667,...,5.407685,304.053333,302.973333,5.495455,4.533333,4.600000,5.220000,5.366667,4.733333,4.850000
4757,São Pedro do Iguaçu,82.050000,78.000000,73.650000,92.350000,NaN,0.804103,95.500000,93.600000,96.300000,...,4.684938,279.850000,288.160000,4.933764,3.100000,5.200000,4.700000,4.900000,3.300000,4.500000
4922,Terra Roxa,88.780000,84.080000,88.460000,93.320000,100.000000,0.883731,93.060000,88.900000,95.540000,...,5.091461,281.116000,279.030000,4.814868,4.300000,4.760000,5.050000,4.760000,4.500000,4.900000
4955,Toledo,82.361111,80.677778,82.661111,83.388889,97.675000,0.824260,86.700000,79.083333,89.750000,...,5.209321,288.485263,290.746842,5.093771,4.200000,4.773333,5.121053,4.926316,4.425000,4.843750
4991,Três Barras do Paraná,88.150000,83.650000,84.200000,93.550000,98.300000,0.888914,87.000000,86.450000,86.800000,...,3.632821,276.640000,268.380000,4.592572,NaN,3.500000,3.600000,4.400000,NaN,3.700000
5029,Tupãssi,86.000000,81.600000,88.150000,90.650000,NaN,0.863972,91.050000,88.350000,88.600000,...,5.021921,281.385000,284.170000,4.895592,NaN,4.700000,4.700000,4.750000,NaN,4.900000
5149,Vera Cruz do Oeste,87.950000,91.100000,85.950000,87.150000,88.450000,0.879627,91.800000,88.200000,93.300000,...,4.869179,270.555000,281.235000,4.699549,3.600000,4.650000,4.800000,4.650000,3.850000,4.050000

In [20]:
dfNoroesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNoroesteParanaense)]
dfCentroOcidentalParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroOcidentalParanaense)]
dfNorteCentralParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNorteCentralParanaense)]
dfNortePioneiroParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosNortePioneiroParanaense)]
dfCentroOrientalParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroOrientalParanaense)]
dfOesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosOesteParanaense)]
dfSudoesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosSudoesteParanaense)]
dfCentroSulParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosCentroSulParanaense)]
dfOSudesteParanaense = dfParana.loc[dfParana['municipio'].isin(municipiosSudesteParanaense)]
dfMetropolitana  = dfParana.loc[dfParana['municipio'].isin(municipiosMetropolitanae)]

dfNoroesteParanaense['municipio'] = 'Noroeste Paranaense'
dfNoroesteParanaense = (dfNoroesteParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfNoroesteParanaense)

dfCentroOcidentalParanaense['municipio'] = 'Centro Ocidental Paranaense'
dfCentroOcidentalParanaense = (dfCentroOcidentalParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfCentroOcidentalParanaense)

dfNorteCentralParanaense['municipio'] = 'Norte Central Paranaense'
dfNorteCentralParanaense = (dfNorteCentralParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfNorteCentralParanaense)

dfNortePioneiroParanaense['municipio'] = 'Norte Pioneiro Paranaense'
dfNortePioneiroParanaense = (dfNortePioneiroParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfNortePioneiroParanaense)

dfCentroOrientalParanaense['municipio'] = 'Centro Oriental Paranaense'
dfCentroOrientalParanaense = (dfCentroOrientalParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfCentroOrientalParanaense)

dfOesteParanaense['municipio'] = 'Oeste Paranaense'
dfOesteParanaense = (dfOesteParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfOesteParanaense)

dfSudoesteParanaense['municipio'] = 'Sudoeste Paranaense'
dfSudoesteParanaense = (dfSudoesteParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfSudoesteParanaense)

dfCentroSulParanaense['municipio'] = 'Centro Sul Paranaense'
dfCentroSulParanaense = (dfCentroSulParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfCentroSulParanaense)

dfOSudesteParanaense['municipio'] = 'Sudeste Paranaense'
dfOSudesteParanaense = (dfOSudesteParanaense.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfOSudesteParanaense)

dfMetropolitana['municipio'] = 'Metropolitana'
dfMetropolitana = (dfMetropolitana.groupby('municipio').mean(numeric_only=True).reset_index())
display(dfMetropolitana)

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfNoroesteParanaense['municipio'] = 'Noroeste Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Noroeste Paranaense,81.379959,75.105544,80.555983,88.259161,97.998529,0.814104,90.691284,86.947775,91.311354,...,4.490827,272.97922,275.858172,4.653105,3.657239,4.177182,4.361925,4.513759,3.863412,4.221865

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCentroOcidentalParanaense['municipio'] = 'Centro Ocidental Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Centro Ocidental Paranaense,81.113548,75.118538,80.287738,88.396052,88.057143,0.80462,90.692486,87.174048,91.368705,...,4.555506,277.221011,283.209609,4.822733,3.620513,4.339399,4.411726,4.685762,3.85,4.317547

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfNorteCentralParanaense['municipio'] = 'Norte Central Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Norte Central Paranaense,83.012314,76.87441,82.61338,89.969035,96.979101,0.8301,90.299983,86.800937,90.725838,...,4.622331,274.261332,280.760615,4.744502,3.814958,4.278655,4.486106,4.622533,4.026291,4.332249

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfNortePioneiroParanaense['municipio'] = 'Norte Pioneiro Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Norte Pioneiro Paranaense,79.99264,74.06898,78.660748,88.081172,94.745098,0.799006,92.35957,89.846118,92.436351,...,4.442861,273.424602,276.965828,4.675942,3.8375,4.293293,4.341318,4.560813,4.042917,4.371667

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCentroOrientalParanaense['municipio'] = 'Centro Oriental Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Centro Oriental Paranaense,82.884562,77.82517,81.82152,90.28946,97.778571,0.830116,91.082578,87.224563,91.51109,...,4.508875,271.654138,277.439312,4.658164,3.932273,4.34239,4.425584,4.552749,4.154091,4.51978

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfOesteParanaense['municipio'] = 'Oeste Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Oeste Paranaense,83.47519,77.396915,83.308442,90.443804,95.88114,0.833337,90.726157,87.006729,91.353396,...,4.910071,281.330743,283.262758,4.881249,4.265256,4.634514,4.744348,4.759186,4.477588,4.723501

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfSudoesteParanaense['municipio'] = 'Sudoeste Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Sudoeste Paranaense,82.109563,77.343426,81.158455,88.422877,97.188462,0.825457,89.713446,85.770582,90.144554,...,4.918505,284.570355,286.979078,4.982383,4.185606,4.62032,4.687812,4.798203,4.392424,4.667143

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfCentroSulParanaense['municipio'] = 'Centro Sul Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Centro Sul Paranaense,83.718251,77.259787,83.946496,91.511537,96.018182,0.835086,91.143648,87.368794,91.379492,...,4.795006,278.635077,281.074943,4.810637,4.058221,4.446882,4.584628,4.684971,4.27317,4.523472

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfOSudesteParanaense['municipio'] = 'Sudeste Paranaense'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Sudeste Paranaense,82.6796,76.85308,80.233158,91.939863,98.9125,0.82066,90.057497,84.232037,91.235965,...,4.92005,283.781311,283.931577,4.92568,3.909314,4.491213,4.714392,4.684802,4.127451,4.449167

C:\Users\Bruno\AppData\Local\Temp\ipykernel_7736\94719039.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfMetropolitana['municipio'] = 'Metropolitana'

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Metropolitana,79.653483,73.856901,77.85988,87.833534,92.259091,0.792735,88.465939,84.426151,89.110386,...,4.560428,275.479163,280.399338,4.756199,3.928569,4.226252,4.401511,4.564207,4.154032,4.358677

In [21]:
dfMesosRegiao = pd.concat([dfNoroesteParanaense,
                           dfCentroOcidentalParanaense,
                           dfNorteCentralParanaense,
                           dfNortePioneiroParanaense,
                           dfCentroOrientalParanaense,
                           dfOesteParanaense,
                           dfSudoesteParanaense,
                           dfCentroSulParanaense,
                           dfOSudesteParanaense,
                           dfMetropolitana
                          ])

dfMesosRegiao.to_csv("planilhas/MesoPR.csv", index=False, sep=";", encoding="UTF-8", float_format='%.3f')
display(dfMesosRegiao)

,municipio,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Noroeste Paranaense,81.379959,75.105544,80.555983,88.259161,97.998529,0.814104,90.691284,86.947775,91.311354,...,4.490827,272.979220,275.858172,4.653105,3.657239,4.177182,4.361925,4.513759,3.863412,4.221865
0,Centro Ocidental Paranaense,81.113548,75.118538,80.287738,88.396052,88.057143,0.804620,90.692486,87.174048,91.368705,...,4.555506,277.221011,283.209609,4.822733,3.620513,4.339399,4.411726,4.685762,3.850000,4.317547
0,Norte Central Paranaense,83.012314,76.874410,82.613380,89.969035,96.979101,0.830100,90.299983,86.800937,90.725838,...,4.622331,274.261332,280.760615,4.744502,3.814958,4.278655,4.486106,4.622533,4.026291,4.332249
0,Norte Pioneiro Paranaense,79.992640,74.068980,78.660748,88.081172,94.745098,0.799006,92.359570,89.846118,92.436351,...,4.442861,273.424602,276.965828,4.675942,3.837500,4.293293,4.341318,4.560813,4.042917,4.371667
0,Centro Oriental Paranaense,82.884562,77.825170,81.821520,90.289460,97.778571,0.830116,91.082578,87.224563,91.511090,...,4.508875,271.654138,277.439312,4.658164,3.932273,4.342390,4.425584,4.552749,4.154091,4.519780
0,Oeste Paranaense,83.475190,77.396915,83.308442,90.443804,95.881140,0.833337,90.726157,87.006729,91.353396,...,4.910071,281.330743,283.262758,4.881249,4.265256,4.634514,4.744348,4.759186,4.477588,4.723501
0,Sudoeste Paranaense,82.109563,77.343426,81.158455,88.422877,97.188462,0.825457,89.713446,85.770582,90.144554,...,4.918505,284.570355,286.979078,4.982383,4.185606,4.620320,4.687812,4.798203,4.392424,4.667143
0,Centro Sul Paranaense,83.718251,77.259787,83.946496,91.511537,96.018182,0.835086,91.143648,87.368794,91.379492,...,4.795006,278.635077,281.074943,4.810637,4.058221,4.446882,4.584628,4.684971,4.273170,4.523472
0,Sudeste Paranaense,82.679600,76.853080,80.233158,91.939863,98.912500,0.820660,90.057497,84.232037,91.235965,...,4.920050,283.781311,283.931577,4.925680,3.909314,4.491213,4.714392,4.684802,4.127451,4.449167
0,Metropolitana,79.653483,73.856901,77.859880,87.833534,92.259091,0.792735,88.465939,84.426151,89.110386,...,4.560428,275.479163,280.399338,4.756199,3.928569,4.226252,4.401511,4.564207,4.154032,4.358677

# BRASIL x PR X MESO

In [22]:
dfBrasil = df.copy()
dfBrasil['uf'] = "Brasil" 
display(dfBrasil)

dfBrasil = dfBrasil.groupby('uf').mean(numeric_only=True).reset_index()

dfParana = dfParana.copy()
dfParana['uf'] = "Paraná" 


dfParana = dfParana.groupby('uf').mean(numeric_only=True).reset_index()



dfOesteParanaense.rename(columns={'municipio': 'uf'}, inplace=True)

display(dfOesteParanaense)
display(dfBrasil)
display(dfParana)




dfBraPrOeste = pd.concat([dfBrasil,
                         dfParana,
                         dfOesteParanaense])


dfBraPrOeste.rename(columns={'uf': 'Região'}, inplace=True)
dfBraPrOeste.drop(columns=['codigo', 'cod.escola'], inplace=True)

dfBraPrOeste.to_csv("planilhas/BrasilPrOeste.csv", index=False, sep=";", encoding="UTF-8", float_format='%.3f')

display(dfBraPrOeste)

,uf,codigo,municipio,cod.escola,escola,rede,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Brasil,1100015,Alta Floresta D'Oeste,11024682,EEEFM EURIDICE LOPES PEDROSO,Estadual,NaN,NaN,NaN,NaN,...,3.899135,254.41,253.38,4.055802,NaN,NaN,3.6,4.0,NaN,NaN
1,Brasil,1100015,Alta Floresta D'Oeste,11024968,EEEMTI JUSCELINO KUBITSCHEK DE OLIVEIRA,Estadual,96.1,96.2,95.1,96.4,...,5.409930,306.56,300.31,5.490791,5.0,5.5,5.4,5.4,5.2,5.4
2,Brasil,1100015,Alta Floresta D'Oeste,11025638,COLEGIO TIRADENTES DA POLICIA MILITAR - CTPM XI,Estadual,85.1,80.2,89.0,87.8,...,NaN,285.14,288.04,5.006266,3.4,4.1,NaN,4.9,3.6,3.8
3,Brasil,1100023,Ariquemes,11006773,EEEFM CORA CORALINA,Estadual,NaN,NaN,NaN,NaN,...,4.469767,256.07,254.76,4.099775,NaN,NaN,2.8,2.4,NaN,NaN
4,Brasil,1100023,Ariquemes,11006889,EEEFM ANISIO TEIXEIRA,Estadual,70.2,62.8,68.8,86.3,...,NaN,264.11,261.11,4.307757,3.1,NaN,NaN,3.8,3.3,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21573,Brasil,5300108,Brasília,53056000,COL OLIMPO,Privada,98.2,96.2,98.3,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21574,Brasil,5300108,Brasília,53068068,CED DONA AMERICA GUIMARAES,Estadual,77.8,77.1,73.5,87.1,...,NaN,246.86,237.18,3.707248,3.4,3.8,NaN,3.4,3.6,3.8
21575,Brasil,5300108,Brasília,53068092,CED 01 DO RIACHO FUNDO II,Estadual,65.7,50.0,70.6,87.7,...,4.034805,NaN,NaN,NaN,NaN,4.0,3.1,NaN,NaN,4.2
21576,Brasil,5300108,Brasília,53068181,CED 310 DE SANTA MARIA,Estadual,76.8,69.5,84.6,79.0,...,NaN,260.74,258.48,4.221054,NaN,NaN,NaN,3.2,NaN,NaN
21577,Brasil,5300108,Brasília,53082001,COL COC BRAZLANDIA DF,Privada,90.5,88.6,100.0,85.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,uf,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Oeste Paranaense,83.47519,77.396915,83.308442,90.443804,95.88114,0.833337,90.726157,87.006729,91.353396,...,4.910071,281.330743,283.262758,4.881249,4.265256,4.634514,4.744348,4.759186,4.477588,4.723501

,uf,codigo,cod.escola,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Brasil,3.241333e+06,3.238836e+07,83.556928,77.828109,84.783385,90.608459,87.44736,0.836838,86.151105,...,4.589009,268.359554,272.92663,4.544337,4.031135,4.172986,4.395622,4.25902,4.244045,4.369301

,uf,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Paraná,83.642424,77.763011,85.054638,90.836858,88.06546,0.837706,86.709394,81.311594,88.210238,...,4.531671,268.040883,269.978628,4.49573,3.867591,4.101558,4.333805,4.194545,4.082962,4.231977

,Região,TXApro_Total_2017,TXApro_1aSERIE_2017,TXApro_2aSERIE_2017,TXApro_3aSERIE_2017,TXApro_4aSERIE_2017,Indicador de Rendimento (P)_2017,TXApro_Total_2019,TXApro_1aSERIE_2019,TXApro_2aSERIE_2019,...,saeb_Media_padronizada_2021,saeb_Mat_2023,saeb_Port_2023,saeb_Media_padronizada_2023,IDEB_2017,IDEB_2019,IDEB_2021,IDEB_2023,Meta_2019,Meta_2021
0,Brasil,83.556928,77.828109,84.783385,90.608459,87.44736,0.836838,86.151105,81.113152,87.188098,...,4.589009,268.359554,272.926630,4.544337,4.031135,4.172986,4.395622,4.259020,4.244045,4.369301
0,Paraná,83.642424,77.763011,85.054638,90.836858,88.06546,0.837706,86.709394,81.311594,88.210238,...,4.531671,268.040883,269.978628,4.495730,3.867591,4.101558,4.333805,4.194545,4.082962,4.231977
0,Oeste Paranaense,83.475190,77.396915,83.308442,90.443804,95.88114,0.833337,90.726157,87.006729,91.353396,...,4.910071,281.330743,283.262758,4.881249,4.265256,4.634514,4.744348,4.759186,4.477588,4.723501